@import "../styles/Variables";

.cookies {
    margin-bottom: var(--spacing);

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
    }

    h5 {
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
    }

    p {
        margin-bottom: var(--spacing);
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }

    button {
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        padding: 15px 32px;
    }

    section {
        margin-bottom: var(--spacing-lg);
    }

    ul {
        padding-left: var(--spacing);
        list-style-type: disc;
    }

    li {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }

    .cookie-header-container {
        width: 100%;
        background-color: var(--color-black);
        height: 150px;
        display: flex;
        justify-content: center;

        .container {
            padding: 32px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .title-container {
            color: white;
        }

        .language {
            color: white;
            font-size: 0.6rem;
            text-transform: uppercase;
            font-weight: 600;
            display: flex;
            align-items: center;
            > svg {
                width: 16px;
                margin-right: 0.5em;
            }
            a {
                text-decoration: none;
            }
        }

        @media screen and (max-width: 768px) {
            .container {
                flex-direction: column;
                align-items: flex-start;
            }

            height: 180px;
        }
    }

    .cookie-explanation {
        margin-top: var(--spacing-md);

        h2 {
            margin-bottom: var(--spacing);
        }

        ul {
            margin-bottom: var(--spacing-md);
        }
    }

    .cookie-preferences {
        padding: 48px 32px;
        background-color: #fcfcfc;

        h1 {
            margin-bottom: var(--spacing);
        }

        p {
            margin-bottom: var(--spacing);
        }
    }

    .cookie-necessary {
        padding: 48px 32px;
        background-color: #e8e8e8;

        h1 {
            margin-bottom: var(--spacing-md);
        }

        h2 {
            margin-bottom: var(--spacing);
        }

        p {
            margin-bottom: var(--spacing);
        }
    }

    .cookie-dropdown {
        margin-top: var(--spacing);

        .title-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: var(--spacing);

            h5 {
                margin-right: var(--spacing);
            }

            .icon {
                transform: rotate(90deg);
                transition: transform 0.3s ease-in-out;
            }

            .icon-open {
                transform: rotate(270deg);
            }
        }

        .show {
            transition: height 0.3s ease-in-out;
            overflow: hidden;
            height: 0;
        }

        .all {
            height: 300px;
        }

        hr {
            width: 100%;
            border: 1px solid #d4d4d4;
            margin-bottom: var(--spacing-sm);
        }
    }

    .cookie-optional {
        padding: 48px 32px;
        background-color: #fcfcfc;

        h1 {
            margin-bottom: var(--spacing-md);
        }

        h2 {
            margin-bottom: var(--spacing);
        }

        label {
            margin: 0;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
        }

        .radio-group {
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        input[type="radio"]:checked + label::before,
        input[type="checkbox"]:checked + label::before {
            background-color: #ffaf8d;
            border-color: var(--color-black);
        }
    }

    .cookie-actions {
        padding: 0px 32px 140px 32px;
        background-color: #fcfcfc;
        display: flex;
        flex-direction: row;

        button {
            margin-right: var(--spacing);
        }

        .outline {
            background-color: #fcfcfc;
            border: 2px solid #ffaf8d;
            box-sizing: border-box;
            filter: drop-shadow(0px 16px 60px rgba(44, 41, 41, 0.08));
            border-radius: 16px;
            color: #1a1a1c;
        }
    }

    @media screen and (max-width: 768px) {
        .cookie-actions {
            flex-direction: column;

            .button {
                margin-bottom: var(--spacing);
            }
        }
    }
}
