.subscribe-form {
  background-color: var(--color-theme);
  color: var(--color-black);
  text-align: center;
  padding: 128px 32px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  p {
    max-width: 450px;
    margin: 1em auto;
  }

  > form {
    text-align: initial;

    > strong {
      text-align: center;
    }
  }

  .button {
    margin-top: 0.5em;
    width: 100%;
  }

  strong {
    text-align: initial;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 0.5em 0;
    display: block;
  }

  .row.radios,
  .row.checkbox {
    text-align: center;
  }
  .row.checkbox {
    > label {
      margin-top: 0;
    }
  }
}
