@import "../styles/Variables";

.popup-consent {
  height: auto;
  bottom: 0;
  top: auto;
  background: none;
  backdrop-filter: none;

  > div {
    padding: 0.25em !important;
    > .popup-container {
      margin-bottom: 0;

      > .popup-content {
        max-width: none;

        align-items: center;
        font-size: 0.7em;
        text-align: initial;
        @media all and (min-width: $desktop-min) {
          display: flex;
        }

        > .header {
          padding: 24px;
        }

        > .bottom {
          padding: 24px;
          justify-content: flex-end;
          flex-shrink: 0;

          > .button + .button {
            margin-left: 0.5em;
          }
        }
      }
    }
  }
}
