@import "../styles/Variables";

footer {
  color: var(--color-white);
  background-color: #111;
  padding: 40px 32px;

  > .top {
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    display: flex;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
    display: flex;
    @media all and (max-width: $mobile-max) {
      align-items: center;
      flex-direction: column;
    }

    > .logo {
      width: 190px;
    }

    > .links {
      margin-left: auto;
      text-align: center;

      @media all and (max-width: $mobile-max) {
        margin: 0;
      }

      > a {
        margin-left: var(--spacing);
        @media all and (max-width: $mobile-max) {
          margin-top: var(--spacing-lg);
          margin-bottom: var(--spacing-lg);
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
      }
    }
  }

  > .bottom {
    padding-top: var(--spacing-sm);
    display: flex;
    > p {
      flex-grow: 1;
      font-size: 0.7em;
    }
    .socials {
      display: flex;
    }
    .socials a {
      margin-left: 20px;
    }
  }
}
