@import "../styles/Variables";

header {
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  text-align: initial;
  background-color: var(--color-black);
  background-size: cover;
  // background-attachment: fixed;
  background-position: center;
  color: var(--color-white);
  position: relative;
  @media all and (max-width: $mobile-max) {
    text-align: center;
  }

  > video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  > .container {
    padding: 0 60px;
    z-index: 2;
    @media all and (max-width: $mobile-max) {
      padding: 0 30px;
    }
  }
  .logo {
    width: 160px;
    margin-bottom: 4em;
    @media all and (min-width: $desktop-min) {
      width: 190px;
      position: absolute;
      top: 60px;
      left: 60px;
    }
  }
  p {
    &.big {
      font-size: 1.5em;
    }
    margin: var(--spacing-sm) 0;
  }

  .header-actions {
    margin-top: var(--spacing-lg);
  }

  .language {
    position: absolute;
    right: 60px;
    top: 60px;
    @media all and (max-width: $mobile-max) {
      right: 1em;
      top: 1em;
    }
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    > svg {
      width: 16px;
      margin-right: 0.5em;
    }
    a {
      text-decoration: none;
    }
  }
}
